@charset "UTF-8";

.playfair-display-sc-regular {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display-sc-bold {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: normal;
}

.playfair-display-sc-black {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  font-style: normal;
}

.playfair-display-sc-regular-italic {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: italic;
}

.playfair-display-sc-bold-italic {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: italic;
}

.playfair-display-sc-black-italic {
  font-family: "Playfair Display SC", serif;
  font-weight: 900;
  font-style: italic;
}

body {
      background-color:#dde1e3;
      color: rgb(0, 0, 0);
      margin: 0 10%;
      font-family:Arial, Helvetica, sans-serif;
     font-size: 18px;
     line-height: 1.6;
      }
    h1 {
      text-align: center;
    color: rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: light;
    text-transform: none;
    border-bottom: 1px solid #23A9A8;
    margin-bottom: 30px;
    }
    h2 {
      color: #000000;
      font-size: 1.5em;
      font-family:Playfair Display; serif;
    }
    h3 {
      color: white;
      font-size: 18px;1em;
    }
    
    
      h4 {
      text-align: center;
      color:#ffffff;
    }
    
    h6 {
      color: #000000;
    
    }
    b {
      color: black;}
    
      figure {
      text-align: center;
      margin: 0;
    }
    
      figcaption {
      font-size: 1.2em;
      margin: top;
      
    }
    figcaption:hover {
      color: #ffb8a1;
      background-color: BLACK;
    }
    
    .image-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /*responsive */
        gap: 40px; 
        justify-items: center; 
        align-items: start; 
        margin: 25px 0; 
    }
    
    .image-item {
        text-align: center; 
      margin: 15px;
    }
    
    .image-item img {
        max-width: 100%; 
        max-width: 200px; /* limit on large screens*/ 
       aspect-ratio: 1/1; /*keeps square*/
       object-fit: cover;
       border: none;
      margin: 20px;
    }

.image-item a{
  text-decoration: none;
  color: inherit;
  display: block;
}

@media (max-width: 600px) {
    .image-container {
        gap: 50px; /* increase spacing between images */
    }
}

    
    footer {
          border-top: 20px solid #23A9A8;
          text-align: center;
          padding-top: 1em;
    }
    footer img {
        width: 40px;
        height: 40px;
        margin-left: .5em;
        margin-right: .5em;
    }
    .center-image-container {
        text-align: center;
    }
    
    .centered-image {
        display: inline-block;
    }
    .horizontal-layout {
        display: flex; 
        flex-wrap: wrap; 
        gap: 20px; 
    }

    .horizontal-layout p {
        margin: 0; 
    }
 
    .highlight {
        color: blue
    }

    .centered-image p {
        text-align: center;
        margin: 0 auto;
    } 

    body {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.image-item {
  padding: 20px;
}


.image-item img {
  max-width: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: 2px solid rgba(0, 0, 0, 0.1); /* light gray border */
  border-radius: 8px; /* optional: rounded corners */
}


